body {
    background-color: #ffffff;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #f3f4e5;
    height: 51px;
}

.navegacao {
    padding-top: 15px;
    margin-right: 10px;
}

.navegacao__lista {
    display: flex;
    justify-content: right;
    list-style-type: none;
   
}

.navegacao__links {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    border-radius: 2px;
    color: black;
    transition: all 1s;
}

.navegacao__links:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 480px) {

    .navegacao__itens {
        margin-top: 15px;
        text-decoration: underline;
    }

    .navegacao__itens:nth-last-child(n) {
        margin-bottom: 20px;
    }
    
    .cabecalho {
        flex-direction: column;
        height: auto;
    }
    .navegacao__lista{
        width: auto;
        font-size: 30px;
        
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }


    .navegacao__links {
        border: none;
    }

}