.projetos {
    margin-top: 60px;
}

.projetos__titulo {
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.projeto__lista {
    display: flex;
    flex-direction: column;
}

.projeto__itens {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

.projetos__fotos {
    width: 50%;
    margin-bottom: 20px;
    
}

.projeto__divisao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.projeto__titulo {
    text-align: center;
}

.projeto__paragrafo {
    text-align: center;
    margin-bottom: 10px;
}

.projeto__botao {
    background-color: black;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: all 1s;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
}

.projeto__botao:hover {
    background-color: rgba(0, 0, 0, 0.226);
    color: red;
}

@media screen and (max-width: 480px) {
    .projeto__divisao  {
        display: inline-block;
        text-align: center;
        margin: 0;
    }

    .projeto__itens {
        flex-direction: column;
        margin-left: 36px;
        margin-right: 56px;
        justify-content: center;
    }

    .projeto__botao {
        width: 50%;
        margin-bottom: 10px;
    }

    .projetos__fotos {
        margin: 0 auto 20px auto;
    }
    
    .projetos__fotos--baixo {
        margin-top: 20px;
    }
    
}