/*Slide Bandeira*/
.container__bandeira {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__bandeira {
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides__bandeira {
    display: flex;
    width: 5244px;
}

.imagens__bandeira img {
    width: 800px;
    height: 600px;
}

#atual__bandeira {
    transition: all 2s;
}

.btn__bandeira {
    position: absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn__bandeira:hover {
    transform: scale(1.5);
}

#voltar__bandeira {
    top: 213%;
    left: 8%;
}

#next__bandeira {
    color: #fff;
    top: 213%;
    right: 25.5%;
}

.mover__bandeira {
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
    left: 30px;
}

.mover__bandeira div {
    transition: all 0.5s;
    border: 3px solid black;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;

}

.mover__bandeira div:hover {
    background: #fff;

}

.imgAtual__bandeira {
    transition: all 0.5s;
    background: rgb(161, 0, 0);
}

@media screen and (max-width: 480px) {

    .slide__bandeira {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .container__bandeira {
        width: 70% ;
        height: 70%;
        margin: 0 auto;
    }
    .imagens__bandeira img, .slide__bandeira {
        width: 450px;
        height: 200px;
    }

    .imagens__bandeira img {
        margin-left: -15px;
    }

    #voltar__bandeira {
        display: none;
    }

    #next__bandeira {
        display: none;
    }

    .mover__bandeira {
        left: -323px;
    }

    /*.container__forca {
        display: none;
    }*/
}



/*Slide Forca*/

.container__forca {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__forca {
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides__forca {
    display: flex;
    width: 5244px;
}

.imagens__forca img {
    width: 800px;
    height: 600px;
}

#atual__forca {
    transition: all 2s;
}

.btn__forca {
    position: absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn__forca:hover {
    transform: scale(1.5);
}

#voltar__forca {
    top: 324%;
    left: 0%;
}

#next__forca {
    color: #fff;
    top: 324%;
    right: 34%;
}

.mover__forca {
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
    left: -72px;
}

.mover__forca div {
    transition: all 0.5s;
    border: 3px solid black;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;

}

.mover__forca div:hover {
    background: #fff;

}

.imgAtual__forca {
    transition: all 0.5s;
    background: rgb(161, 0, 0);
}

@media screen and (max-width: 480px) {

    .container__forca {
        width: 70% ;
        height: 70%;
        margin: 0 auto;
        
    }
    .imagens__forca img, .slide__forca {
        width: 450px;
        height: 200px;
    }

    .slide__forca {
        margin-right: 10px;
    }

    .imagens__forca img {
        margin-left: -15px;
    }

    #voltar__forca {
        display: none;
    }

    #next__forca {
        display: none;
    }

    .mover__forca {
        left: -323px;
    }

    /*.container__forca {
        display: none;
    }*/
}


